@model Сountry_cottage_area.Models.AgricultureType

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы уверены что хотите удалить эту культуру?</h3>
<div>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-success" /> |
            @Html.ActionLink("Вернуться назад", "Index")
        </div>
    }
</div>
